/* Fonts*/


/* username & pass */


/* signin & signup */


/* chat */


/* endfonts*/

div#game {
    position: absolute;
    width: 1400px;
    height: 600px;
}
div#belowGame {
    margin: 600px 0px 0px 0px;
    background-color: gray;
    width: 1400px;
    height: 180px;
}
div#signDiv {
    font-size: 30px;
    /*font-family: 'Baloo Bhai', cursive;*/
    text-align: center;
    text-transform: uppercase;
    background-color: #d3d3d3;
    margin: 100px 450px 0px 450px;
    /*border: 1.5px solid #000;*/
}
canvas#ctx, canvas#ctx-ui {
    position: absolute;
    display: block;
    auto;
}
p#play {
    font-size: 50px;
    margin: 300px 700px 300px 650px;
    position: absolute;
}
input#signDiv-username, input#signDiv-password {
    padding: 10px;
    border: solid 1px #ccc;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    font-size: 15px;
    border-radius: 8px;
}
input#signDiv-username:focus, input#signDiv-username.focus, input#signDiv-password:focus, input#signDiv-password.focus {
    box-shadow: inset 1px 1px 2px 0 #ccc;
    outline: none;
}
button#signDiv-signIn, button#signDiv-signUp {
    font-size: 16px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}
